{% extends "base.html" %}

{% block content%}
<h1> {{group}}</h1>
<h3> Nauczyciele: </h3>
	{% for teacher in teachers %}
	<p>	{{teacher}}</p>
	{% endfor %}


<h3> Lista dzieci: </h3>
<ul>
{% for child in children %}

	<li> {{child}} 
	<button lass="btn-default" type='submit'> <a href="/group/{{group.id}}/presence_list"> SZCZEGÓŁY </a> </button> </li>
{% endfor %}
</ul>
</br>
<button class="btn-default" type='submit'> <a href="/group/{{group.id}}/presence_date"> LISTA OBECNOŚCI </a> </button>
{% endblock %}
